.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/loginbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}

